@use "../../../styles/variables";

.skeleton {
  position: relative;
  width: fit-content;
  background-color: variables.$layer-default;
  overflow: hidden;
  animation: 2000ms skeleton infinite;
}

@keyframes skeleton {
  0%, 100% {
    background-color: variables.$layer-default;
  }
  50% {
    background-color: variables.$layer-highlight;
  }
}
