@use "../../../../styles/variables";

.dashboard-tasks {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  &__item {
    padding: 2rem;

    @include variables.layer-default();
    @include variables.layer-default-hover();
  }
}
