@use "../../../../styles/variables";

.task-details {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;

  &__item {
    padding: 2rem;

    @include variables.layer-default();
  }
}
