@use "../../../../styles/variables";

.incident-checklist {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    @include variables.layer-default();
  }

  &__body {
    width: 100%;
    padding: 1rem;
  }
}
